<% content_for :page_title, 'Services' %>

<% breadcrumb :root %>

<div class="page-title">
  <h1>Local Links Manager</h1>
</div>

<%= render partial: 'shared/home_nav' %>

<table class="table table-bordered table-with-counts table-with-controls" data-module="filterable-table">
  <thead>
    <tr class="table-header">
      <th colspan='2'>
        <div class='filter-control-full-width'>
          <%= render partial: 'govuk_admin_template/table_filter_form', locals: { placeholder: 'Search for a service here' } %>
        </div>
        <div class='count'>
          <span><%= @services.count %></span>
          <%= 'services'.pluralize(@services.count) %>
        </div>
      </th>
    </tr>
    <tr class="table-header">
      <th class="center">Code</th>
      <th>Service</th>
    </tr>
  </thead>
  <tbody>
    <% @services.each do |service| %>
      <tr>
        <td>
          <div class="center">
            <%= service.lgsl_code %>
          </div>
        </td>
        <td>
          <%= service.label %>
          <div class="center count <%= singular_or_plural(service.broken_link_count) %>">
            <span><%= service.broken_link_count %></span>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
