<% content_for :page_title, @service.label %>

<% if flash[:success] %>
<div class="alert alert-success"><%= flash[:success] %></div>
<% end %>

<% breadcrumb :service, @service %>

<div class="page-title">
  <h2><%= @service.label %></h2>
  <p><b>Service code</b> <%= @service.lgsl_code %></p>
</div>

<%= render partial: 'link_filter_nav' %>

<table class="table table-bordered table-service table-with-counts" data-module="filterable-table">
  <thead>
    <tr class="table-header">
      <th colspan='4'>
        <div class='filter-control'>
          <%= render partial: 'govuk_admin_template/table_filter_form', locals: { placeholder: 'Search for a service or link here' } %>
        </div>
        <div class='count'>
          <span><%= @link_count %></span>
          <%= 'link'.pluralize(@link_count) %>
        </div>
      </th>
    </tr>
    <tr class="table-header">
      <th class='text-center'>Code</th>
      <th width:'40%'>Council and links</th>
      <th>Link status</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <%= render partial: 'local_authority', collection: @local_authorities %>
  </tbody>
</table>
