<% content_for :page_title, @service.label %>

<% breadcrumb :interactions, @authority, @service %>

<%= render partial: "shared/local_authority_details", locals: {authority: @authority} %>

<div class="page-title">
  <h2><%= @service.label %></h2>
</div>

<% if flash[:success] %>
<div class="alert alert-success"><%= flash[:success] %></div>
<% end %>

<p><b>LGSL</b> <%= @service.lgsl_code %></p>

<% if @interactions.any? %>
  <table class="table table-striped table-hover table-bordered contacts-table" data-module="filterable-table">
    <thead>
      <tr class="table-header">
        <th>LGIL Code</th>
        <th>Local Government Interactions (<%= @interactions.count %>)</th>
        <th>Link status</th>
        <th></th>
      </tr>
      <%= render partial: "govuk_admin_template/table_filter",
      locals: {placeholder: "Filter list of local interactions"} %>
    </thead>
    <tbody>
      <% @interactions.each do |interaction| %>
        <tr id="<%= interaction.lgil_code %>" <% if flash[:lgil] == interaction.lgil_code %>class="success"<% end %>>
          <td class="lgil_code text-center">
            <%= interaction.lgil_code %>
          </td>
          <td class="name">
            <%= interaction.label %>
            <p><%= link_to_if interaction.link_url, nil, interaction.link_url %></p>
          </td>
          <td class="status">
            <span class="<%= interaction.label_status_class %> text-muted">
              <b><%= interaction.link_status %></b>
            </span>
            <p class="text-muted">
            <%= interaction.link_last_checked %>
            </p>
          </td>
          <td class='text-center'>
            <%= link_to(interaction.button_text, edit_interaction_links_path(interaction_slug: interaction.slug), class: "btn btn-default btn-s") %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

<% else %>
  <h4>No local interactions found</h4>
<% end %>
