<%= content_tag 'tr',
    class: [
      link.first ? 'first-row' : '',
      link.updated? ? 'success' : ''
    ].join(' '),
    data: link.row_data do
%>
  <td class="text-center lgsl">
    <p><%= link.lgsl_code %></p>
  </td>
  <td class="name">
    <h4><%= link.service_label %></h4>
    <p>
      <%= link.interaction_label %>
      <br>
      <%= link_to nil, link.url %>
    </p>
  </td>
  <td class="status">
    <h4>&nbsp;</h4>
    <p>
      <span class="<%= link.label_status_class %> text-muted">
        <b><%= link.status_description %></b>
      </span>
      <br>
      <span class="text-muted"><%= link.last_checked %></span>
    </p>
  </td>
  <td class="text-center">
    <h4>&nbsp;</h4>
    <%= link_to('Edit link', link.edit_path, class: "btn btn-default btn-s") %>
  </td>
<% end %>
