<%= content_tag 'tr', class: link.with_service_label ? '' : 'no-service-label', data: row_data.merge(url: link.url, row: '') do %>
  <% if link.with_service_lgsl_code %>
    <td class="text-center" rowspan="<%= link.with_service_links_count %>">
      <%= link.with_service_lgsl_code %>
    </td>
  <% end %>
  <td class="name">
    <% if link.with_service_label %>
      <h4><%= link.interactions_path %></h4>
    <% end %>
    <p><%= link.interaction_label %><br>
    <%= link_to nil, link.url %></p>
  </td>
  <td class="status">
    <% if link.with_service_label %><h4>&nbsp;</h4><% end %>
    <p><span class="<%= link.label_status_class %> text-muted">
      <b><%= link.status_description %></b>
    </span><br>
      <span class="text-muted"><%= link.last_checked %></span>
    </p>
  </td>
  <td class="text-center">
    <% if link.with_service_label %><h4>&nbsp;</h4><% end %>
    <%= link_to('Edit link', link.edit_path, class: "btn btn-default btn-s") %>
  </td>
<% end %>
