<% breadcrumb :links, @local_authority, @service, @interaction %>

<div class="page-title">
  <h1><%= @local_authority.name %></h1>

  <h2><%= @service.label %></h2>
  <p><b>Service code</b> <%= @service.lgsl_code %></p>
</div>


<% if flash[:danger] %>
<div class="alert alert-danger"><%= flash[:danger] %></div>
<% end %>

<h3><%= @interaction.label %></h3>

<%= form_for @link, url: link_path(@local_authority.slug, @service.slug, @interaction.slug), method: "put" do |f| %>
  <div class="form-group <% if flash[:danger] %>has-error<% end %>">
    <div class='col-xs-12 no-gutter'>
      <%= f.label :url, 'Page URL' %>

      <p class="text-muted">for example http://www.local-authority.gov.uk</p>

      <%= f.text_field :url, class: "form-control" %>
    </div>

    <div class='actions add-vertical-margins col-xs-6 no-gutter'>
      <%= link_to 'Cancel', local_authority_with_service_path(local_authority_slug: @local_authority.slug, service_slug: @service.slug), class: 'btn btn-default add-right-margin' %>
      <button type='submit' class='btn btn-success'>Update</button>
    </div>
  </div>
<% end %>

<% if @link.url %>
  <div class='actions add-vertical-margins col-xs-6 no-gutter'>
    <%= form_tag(link_path(@local_authority.slug, @service.slug, @interaction.slug), method: :delete) do %>
      <button name="submit" class="btn btn-danger pull-right">Delete</button>
    <% end %>
  </div>
<% end %>
