<% breadcrumb :links, @local_authority, @service, @interaction %>

<%= render partial: "shared/local_authority_details", locals: {authority: @local_authority} %>

<div class="page-title">
  <h2><%= @interaction.label %></h2>
</div>

<% if flash[:bad_url] %>
<div class="alert alert-danger">Please enter a valid link.</div>
<% end %>

<p><b>LGSL</b> <%= @service.lgsl_code %><b class="add-left-margin">LGIL</b> <%= @interaction.lgil_code %></p>

<%= label_tag 'link', 'URL' %>

<p class="text-muted">eg http://www.local-authority.gov.uk</p>

<%= form_for @link, url: local_authority_service_interaction_links_path(@local_authority.slug, @service.slug, @interaction.slug), method: "put" do |f| %>
  <div class="form-group <% if flash[:bad_url] %>has-error<% end %>">
    <%= f.text_field :url, class: "form-control", value: @link.url%>
    <div class='actions add-vertical-margins'>
      <%= link_to 'Cancel', local_authority_service_interactions_path(service_slug: @service.slug), class: 'btn btn-default add-right-margin' %>
      <button type='submit' class='btn btn-success'>Save</button>
    </div>
  </div>
<% end %>
