<% content_for :page_title, "Editing #{ @local_authority.name } - #{ @service.label} - #{@interaction.label}" %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <%= render "govuk_publishing_components/components/heading", {
      text: "Editing #{@local_authority.name} - #{ @service.label} - #{@interaction.label}",
      heading_level: 1,
      font_size: "l",
      margin_bottom: 5,
    } %>

    <% if @link.link_errors.any? %>
      <%= render partial: "link_status_alerts", locals: { alerts: @link.link_errors, link: @link } %>
    <% elsif @link.link_warnings.any? %>
      <%= render partial: "link_status_alerts", locals: { alerts: @link.link_warnings, link: @link } %>
    <% end %>

    <%= form_for @link, url: link_path(@local_authority.slug, @service.slug, @interaction.slug), method: "put" do |f| %>

      <%= render "govuk_publishing_components/components/input", {
        label: {
          text: "Page URL",
        },
        name: "url",
        hint: "for example https://www.local-authority.gov.uk/my-service",
        autofocus: true,
        tabindex: 0,
        value: @link.url,
      } %>

      <%= render "govuk_publishing_components/components/checkboxes", {
        name: "not_provided_by_authority",
        heading: "Is this provided by the local authority",
        hint_text: "Check this if the link is NOT provided by the local authority",
        items: [{ checked: @link.not_provided_by_authority }],
      } %>

      <%= render "govuk_publishing_components/components/button", { text: "Update" } %>
    <% end %>

    <% if @link.url %>
      <div class="app-danger-block">
        <%= form_for @link, url: link_path(@local_authority.slug, @service.slug, @interaction.slug), method: "delete", data: { confirm: "Are you sure you wish to delete this link?" } do |f| %>
        <p class="govuk-body">You can also delete this link if you are certain it is no longer necessary (NB: this cannot be undone)</p>
        <%= render "govuk_publishing_components/components/button", {
            text: "Delete",
            destructive: true,
          } %>
        <% end %>
      </div>
    <% end %>

  </div>
</div>
