<% breadcrumb :local_authorities, @local_authority %>

<div class="page-title">
  <h1><%= @authority.name %></h1>
</div>
<hr>

<%= label_tag 'link_url', 'Homepage URL' %>

<%= form_for @authority, url: {action: "update"} do |f| %>
  <%= f.text_field :homepage_url, class: "form-control" %>
  <div class='actions add-vertical-margins'>
    <%= link_to 'Cancel', :back, { class: 'btn btn-default add-right-margin' } %>
    <button type='submit' class='btn btn-success'>Save</button>
  </div>
<% end %>
