<% content_for :page_title, "Local Authorities" %>

<% breadcrumb :local_authorities %>

<div class="page-title">
  <h1>Local Authorities</h1>
</div>

<%= render partial: 'shared/home_nav' %>

<% if @authorities.any? %>
  <table class="table table-striped table-hover table-bordered contacts-table" data-module="filterable-table">
    <thead>
      <tr class="table-header">
        <th>
          <div class='count'>
            <span><%= @authorities.count %></span>
            <%= 'local authorities'.pluralize(@authorities.count) %>
          </div>
        </th>
      </tr>
      <%= render partial: "govuk_admin_template/table_filter",
      locals: {placeholder: "Filter list of local authorities"} %>
    </thead>
    <tbody>
      <% @authorities.each do |authority| %>
        <tr>
          <td class="name">
            <%= link_to authority.name, local_authority_services_path(authority.slug), class: 'js-open-on-submit' %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

<% else %>
  <h4>No local authorities found</h4>
<% end %>
