<% content_for :page_title, @authority.name %>

<% if flash[:success] %>
<div class="alert alert-success"><%= flash[:success] %></div>
<% end %>

<% breadcrumb :services, @authority %>

<%= render partial: "shared/local_authority_details", locals: {authority: @authority} %>

<% if @services.any? %>
  <table class="table table-striped table-hover table-bordered contacts-table" data-module="filterable-table">
    <thead>
      <tr class="table-header">
        <th>LGSL Code</th>
        <th>Local Government Services (<%= @services.count %>)</th>
      </tr>
      <%= render partial: "govuk_admin_template/table_filter",
      locals: {placeholder: "Filter list of local services"} %>
    </thead>
    <tbody>
      <% @services.each do |service| %>
        <tr>
          <td class="lgsl_code">
            <%= service.lgsl_code %>
          </td>
          <td class="name">
            <%= link_to service.label, interactions_path(service_slug: service.slug, local_authority_slug: @authority.slug), class: 'js-open-on-submit' %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

<% else %>
  <h4>No local services found</h4>
<% end %>
